---
import Signin from "../components/signin.svelte";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Sign In">
    <div class="w-screen h-screen bg-gradient-to-tl from-teal-400 via-emerald-500 to-green-600">
        <Signin />
    </div>
</Layout>